:root {
  --font-family-playfair: "Playfair Display", serif;
  --font-family-poppins: "Poppins", sans-serif;

  --main-color: #f9f7fe;
  --text-color: #272142;
  --paragraph-color: rgba(39, 33, 66, 0.7);
  --branding-color: #6c63ff;
  --text-btn-color: white;
}

/*home*/
body {
  font-family: var(--font-family-poppins);
}

.hero {
  background: var(--main-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-size: 36px;
  color: var(--text-color);
  font-weight: bold;
  margin: 0;
}
.header {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--paragraph-color);
}

.hero h1 {
  font-size: 96px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: black;
  font-family: var(--font-family-playfair);
  font-weight: bold;
}

.hero h2 {
  font-family: var(--font-family-poppins);
  font-weight: normal;
  font-size: 24px;
  color: var(--text-color);
  line-height: 1.5;
}

.content a {
  background-color: var(--branding-color);
  color: var(--text-btn-color);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 30px;
  text-decoration: none;
  line-height: 27px;
}

.project-description a {
  text-decoration: none;
}

div a:hover {
  color: #212529;
}

/*home part2*/
h2 {
  font-size: 64px;
}

.button {
  font-size: 20px;
  border-radius: 4px;
  padding: 15px 30px;
  background-color: var(--text-btn-color);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  line-height: 27px;
}
.project-description {
  padding: 120px 60px;
}

/*About */
.content-container {
  padding: 60px 20px;
}

.content-container h1 {
  font-family: var(--font-family-playfair);
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-family: var(--font-family-poppins);
  font-size: 18px;
}

.content-container p {
  color: var(--paragraph-color);
  font-family: var(--font-family-poppins);
  font-size: 16px;
}

.content-container img {
  border-radius: 20px;
}

.content {
  margin: 30px;
}

/*work*/
.content h3 {
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 24px;
}

.content p {
  font-size: 14px;
  font-weight: 400;
}

/*nav*/
nav {
  font-family: var(--font-family-poppins);
  font-size: 16px;
  font-weight: 500;
  color: var(--paragraph-color);
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  padding: 0 10px;
}

nav .active {
  color: var(--branding-color) !important;
}

nav a:hover {
  color: var(--branding-color) !important;
  transition: all 200ms ease-in-out;
}

/*footer*/
footer .email-link a {
  color: black;
  text-decoration: none;
  font-family: var(--font-family-poppins);
  font-size: 24px;
  font-weight: 500;
}

footer .email-link a:hover {
  color: var(--branding-color);
}

footer .social-media-links i {
  color: var(--branding-color);
  background-color: rgba(108, 99, 255, 0.05);
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  border-radius: 50%;
  margin: 50px 0;
}

footer .social-media-links i:hover {
  background-color: var(--branding-color);
  color: var(--text-btn-color);
  transition: 100ms all ease-in-out;
}

footer h3 {
  color: #000;
  font-family: var(--font-family-playfair);
  font-size: 48px;
  font-weight: 700;
  margin-top: 25px;
}

footer .contact-box {
  border-radius: 20px;
  background: #f9f7fe;
  margin-top: 80px;
  margin-bottom: 80px;
}

footer .around-box {
  padding: 30px 120px;
}

footer .content {
  margin-top: 60px;
}

.source p {
  text-align: center;
  color: #000;
}

.source a {
  text-decoration: none;
}

.source a:hover {
  color: #757cca;
}

/*@media*/
@media (max-width: 900px) {
  .hero h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
  }

  footer .email-link {
    margin-top: 70px;
  }
}

@media (max-width: 1000px) {
  footer h3 {
    font-size: 30px;
  }
}
